<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard" class="al-logo clearfix">Hunter</a>

    <ul class="nav navbar-nav subject-top">
      <li>
        <a class="subject-font" href="#">科技</a>
      </li>
      <li>
        <a class="subject-font" href="#">金融</a>
      </li>
    </ul>

  <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div>

  <div class="login">
    <button type="button" class="btn btn-primary "><a href="/auth.html" class="while-color">登陆</a>/<a href="/reg.html" class="while-color">注册</a></button>
  </div>

  <!--<div class="user-profile clearfix">-->

    <!--<div class="al-user-profile" uib-dropdown>-->
      <!--<a uib-dropdown-toggle class="profile-toggle-link">-->
        <!--<img ng-src="{{::( 'Nasta' | profilePicture )}}">-->
      <!--</a>-->
      <!--<ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>-->
        <!--<li><i class="dropdown-arr"></i></li>-->
        <!--<li><a href="#/admin/profile"><i class="fa fa-cog"></i>Settings</a></li>-->
        <!--<li><a href class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>