
<div ng-repeat="doc in docs">
    <div>
        <!--<div class="">-->
        <!--<a href="" @click="on_approve(doc._id)"><span class="ion-heart "></span></a>-->
        <!--<a href="" @click="on_bookmark(doc._id)"><span class="ion-star "></span></a>-->
        <!--</div>-->
        <div class="article-title">
            <a href={{doc.url}} target="_blank">{{doc.title}}</a>
        </div>
        <div class="article-meta">
            <span><a href="" class="article-author">作者:{{doc.author}}&nbsp;</a></span>
            <span>{{doc.published_time}}</span>
        </div>
        <div class="article-summary">
            {{doc.summary}}
        </div>
    </div>
    <hr>
</div>

<ul class="pager">
    <li class="next">
        <a href="#" ng-click="on_next()">Older Posts &rarr;</a>
    </li>
</ul>
