<link rel="stylesheet" href="app/auth.css">

<main class="auth-main">
  <div class="auth-block">
    <h1>用户注册</h1>
    <a href="#/login" class="auth-link">已经有了账户? 登陆!</a>

    <form class="form-horizontal" id="mForm" name="mForm" ng-submit="submitForm(mForm.$valid)" novalidate>
      <div class="form-group">
        <label for="username" class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" name="username" placeholder=""
                 ng-model="user.username"
                 minlength="2"
                 maxlength="20"
                 check="username"
                 required>
          <p ng-show="mForm.username.$error.required  && submitted" class="help-block">用户名必填.</p>
          <p ng-show="mForm.username.$error.minlength && submitted" class="help-block">用户名太短(大于2个字符).</p>
          <p ng-show="mForm.username.$error.maxlength && submitted" class="help-block">用户名太长(小于20个字符).</p>
          <p ng-show="mForm.username.$error.username" class="help-block">用户已存在</p>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">邮箱</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" name="email"
                 ng-model="user.email"
                 placeholder=""
                 check="email"
                 required>
          <p ng-show="mForm.email.$error.required  && submitted" class="help-block">邮箱必填.</p>
          <p ng-show="mForm.email.$invalid && !mForm.email.$pristine && submitted" class="help-block">邮箱格式不正确.</p>
          <p ng-show="mForm.email.$error.email" class="help-block">邮箱已被注册</p>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="col-sm-2 control-label" >密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password"
                 ng-model="user.password"
                 placeholder=""
                 minlength="4"
                 maxlength="20"
                 required>

          <p ng-show="mForm.password.$error.required  && submitted" class="help-block">密码必填.</p>
          <p ng-show="mForm.password.$error.minlength && submitted" class="help-block">密码太短(大于4个字符).</p>
          <p ng-show="mForm.password.$error.maxlength && submitted" class="help-block">密码太长(小于20个字符).</p>
        </div>
      </div>

      <div class="form-group">
        <label for="passwordRepeat" class="col-sm-2 control-label" >重复密码</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat"
                 ng-model="user.passwordRepeat"
                 pwd-confirm="password"
                 placeholder=""
                 minlength="4" maxlength="20"
                 required>
          <p ng-show="mForm.passwordRepeat.$error.required  && submitted" class="help-block">密码必填.</p>
          <p ng-show="mForm.passwordRepeat.$error.minlength && submitted" class="help-block">密码太短(大于4个字符).</p>
          <p ng-show="mForm.passwordRepeat.$error.maxlength && submitted" class="help-block">密码太长(小于20个字符).</p>
          <p ng-show="mForm.passwordRepeat.$error.isMatch" class="help-block">两次输入密码不一致.</p>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-auth">注册</button>
        </div>
      </div>
    </form>

    <div class="auth-sep"><span><span>or Sign up with one click</span></span></div>

    <div class="al-share-auth">
      <ul class="al-share clearfix">
        <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
        <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
        <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
      </ul>
    </div>
  </div>
</main>