<div class="horizontal-scroll">
  <table class="table table-hover" st-table="editableTableData">
    <tr class="sortable header-row">
      <th><input type="checkbox" ng-model="isChecked" ng-click="selectAll($event)"></th>
      <th st-sort="firstName">标题</th>
      <th st-sort="lastName">收藏时间</th>
    </tr>
    <tr ng-repeat="item in docs" class="">
      <td><input type="checkbox" ng-model="isChecked"   ng-checked="isSelected(item.id)" ng-click="updateSelection($event,item.id)"></td>
      <td><span editable-text="item.firstName" ><a href={{item.url}}>{{item.title}}</a> </span></td>
      <td><span editable-text="item.lastName" >{{item.create_time}}</span></td>
    </tr>
    <tfoot>
    <tr>
      <td colspan="6" class="text-center">
        <div st-pagination="" st-items-by-page="12" st-displayed-pages="5"></div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>