<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">

    <h3 class="with-line">个人信息</h3>
    <form name="myForm" ng-submit="onSubmitProfile(myForm.$valid)" novalidate>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputFirstName" class="col-sm-3 control-label">头像</label>

          <div class="col-sm-9">
            <div class="userpic">
              <div class="userpic-wrapper">
                <img ng-src="{{ picture }}" ng-click="uploadPicture()">
                <!--<img ng-src="/uploads/file-1469094145945" ng-click="uploadPicture()">-->
              </div>
              <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="!noPicture"></i>
              <a href class="change-userpic" ng-click="uploadPicture()">Change Profile Picture</a>
              <input type="file" ng-model="image" ng-show="false" id="uploadFile" ng-file-select="onFileSelect($files)">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix" ng-class="{ 'has-error' : myForm.username.$invalid  && submitted}">
          <label for="inputFirstName" class="col-sm-3 control-label">用户名</label>

          <div class="col-sm-9">
            <input type="text" name="username" class="form-control" id="inputFirstName" ng-model="profile.username" placeholder="" required minlength="2" maxlength="20">
            <p ng-show="myForm.username.$error.required &&  submitted" class="help-block">用户名必填.</p>
            <p ng-show="myForm.username.$error.minlength && submitted" class="help-block">用户名太短(大于1个字符).</p>
            <p ng-show="myForm.username.$error.maxlength && submitted" class="help-block">用户名太长(小于20个字符).</p>
          </div>
        </div>
        <div class="form-group row clearfix"  ng-class="{ 'has-error' : (myForm.phone.$error.minlength ||myForm.phone.$error.maxlength) &&  submitted}">
          <label for="inputLastName" class="col-sm-3 control-label">电话</label>

          <div class="col-sm-9">
            <input type="text" name="phone" class="form-control" id="inputLastName" ng-model="profile.phone" placeholder="" minlength="11" maxlength="11">
            <p ng-show="(myForm.phone.$error.minlength ||myForm.phone.$error.maxlength) &&  submitted" class="help-block">电话必须是11位.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix" ng-class="{ 'has-error' : (myForm.nickname.$error.minlength ||myForm.nickname.$error.maxlength) &&  submitted}">
          <label class="col-sm-3 control-label">昵称</label>

          <div class="col-sm-9">
            <input type="text" name="nickname" class="form-control" id="nickname" ng-model="profile.nickname" minlength="2" maxlength="50" >
            <p ng-show="myForm.nickname.$error.minlength && submitted" class="help-block">用户名太短(大于1个字符).</p>
            <p ng-show="myForm.nickname.$error.maxlength && submitted" class="help-block">用户名太长(小于50个字符).</p>
          </div>
        </div>

        <div class="form-group row clearfix" ng-class="{ 'has-error' : myForm.email.$invalid && !myForm.email.$pristine && submitted}">
          <label for="inputOccupation" class="col-sm-3 control-label">邮箱</label>

          <div class="col-sm-9">
            <input type="email" name="email" class="form-control" id="inputOccupation" ng-model="profile.email" placeholder="">
            <p ng-show="myForm.email.$invalid && !myForm.email.$pristine && submitted" class="help-block">邮箱格式不正确.</p>
          </div>
        </div>
      </div>
    </div>

      <button type="submit" class="btn btn-primary btn-with-icon save-profile">
        <i class="ion-android-checkmark-circle"></i>提交修改
      </button>

    </form>

    <h3 class="with-line">修改密码</h3>
    <form name="mForm" ng-submit="onSubmitPassword(mForm.$valid)" novalidate>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="pass" class="col-sm-3 control-label">新密码</label>

          <div class="col-sm-9" ng-class="{ 'has-error' :(mForm.pass.$error.minlength ||mForm.pass.$error.maxlength) && !mForm.pass.$pristine }">
            <input type="password" name="pass" ng-model="profile.pass" class="form-control" id="pass"
                   minlength="4" maxlength="20"
                   required>
            <p ng-show="mForm.pass.$error.required  && submittedPass" class="help-block">密码必填.</p>
            <p ng-show="mForm.pass.$error.minlength && submittedPass" class="help-block">密码太短(大于4个字符).</p>
            <p ng-show="mForm.pass.$error.maxlength && submittedPass" class="help-block">密码太长(小于20个字符).</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="repass" class="col-sm-3 control-label">重复密码</label>

          <div class="col-sm-9" ng-class="{ 'has-error' : (mForm.repass.$error.minlength ||mForm.repass.$error.maxlength || mForm.repass.$error.isMatch) && (!mForm.repass.$pristine ||!mForm.pass.$pristine  )}">
            <input type="password" name="repass" ng-model="profile.repass" class="form-control" id="repass"
                   pwd-confirm="pass"
                   minlength="4" maxlength="20"
                   required>
            <p ng-show="mForm.repass.$error.required  && submittedPass" class="help-block">密码必填.</p>
            <p ng-show="mForm.repass.$error.minlength && submittedPass" class="help-block">密码太短(大于4个字符).</p>
            <p ng-show="mForm.repass.$error.maxlength && submittedPass" class="help-block">密码太长(小于20个字符).</p>
            <p ng-show="mForm.repass.$error.isMatch " class="help-block">两次输入密码不一致.</p>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-with-icon save-profile">
      <i class="ion-android-checkmark-circle"></i>提交修改
    </button>

    </form>
  </div>
</div>
